.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent !important;
   
}

.btn{
    margin-right: 20px;
    margin-top: 3px;
    
}

.register{
    background-color: orange;
    color: wheat;
    padding: 0 5;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login{
    background-color: green;
    color: wheat;
    padding: 0 5;
    border-radius: 10px;
    border: none;
    outline: none;
}